.App {
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-yellow {
  background: #fcce02;
}
.fg-light {
  color: #fff;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-red{
  background-color: #B9345A;
}
/* #DE4839 #B9345A */

.bg-green{
  background-color: #6EC72D;
}